.toplevel_page_bm-support #wpcontent {
	padding-left: 0;
}

.toplevel_page_bm-support .wrap {
	margin: 0;
}

.toplevel_page_bm-support #wpbody-content > .updated,
.toplevel_page_bm-support #wpbody-content > .notice-success {
	display: none;
}

/**
 * Remove theme & plugin update count.
 */
#adminmenu span.update-plugins {
	display: none;
}
